<ul style="text-align: center;list-style: none;">
    <li style="display: inline-block;padding: 5px;"><a routerLink="home" style="text-decoration: none;color: black;">Home</a></li>
    <li style="display: inline-block;padding: 5px;"><a routerLink="user" style="text-decoration: none;color: black;">User</a></li>
    <li style="display: inline-block;padding: 5px;"><a routerLink="template" style="text-decoration: none;color: black;">Template</a></li>
    <li style="display: inline-block;padding: 5px;"><a routerLink="reactive" style="text-decoration: none;color: black;">Reactive</a></li>
</ul>