<div (mouseleave)="showFullDescription=false" class="h-full m-5 rounded overflow-hidden shadow-lg hover:scale-110 duration-300 cursor-pointer " >
    <div class="flex justify-center items-center">
        <img class="w-80 h-80 object-cover" [src]="product.image" [alt]="product.title">
    </div>
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">{{product.title.slice(0,20)}}...</div>
      <p class="text-gray-700 text-base">
        {{ showFullDescription ? product.description : product.description.slice(0, 50) }}
        <span *ngIf="product.description.length > 50 && !showFullDescription">
          ... <a (click)="showFullDescription = true" class="text-md text-blue-500">See more</a>
        </span>
        <span *ngIf="showFullDescription">
          <a (click)="showFullDescription = false" class="   text-md text-blue-600">Show less</a>
        </span>
      </p>
      <div class="flex justify-evenly items-center mt-5">
          <button (click)="addToCart(product)" class="text-white bg-blue-500 hover:bg-blue-800 px-4 py-2 rounded-lg">Add to Cart</button>
          <button (click)="removeFromCart()" class="text-white bg-red-500 hover:bg-red-800 px-4 py-2 rounded-lg">View Product</button>
      </div>
    </div>
  </div>